<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{path('app_login')}}">{{ 'atrinium' | trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('management_list',{'entity':'company'}) }}">{{ 'management.companies' | trans }}</a>
            </li>
            {% endif %}
            {% if (is_granted('ROLE_ADMIN')) %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('management_list',{'entity':'sector'}) }}">{{ 'management.sectors' | trans }}</a>
            </li>
            {% endif %}
            {% if (is_granted('ROLE_ADMIN')) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('management_list',{'entity':'user'}) }}">{{ 'management.users' | trans }}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('management_create',{'entity':'exchange'}) }}">{{ 'management.exchange' | trans }}</a>
            </li>
        </ul>
        <ul class="form-inline my-2 my-lg-0 navbar-nav ">
            {% if app.user %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_logout')}}">{{ 'logout' | trans }}</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_login')}}">{{ 'login.goTo' | trans }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>