{% extends 'base.html.twig' %}

{% block title %}{{ 'edit' | trans }} {{ entity }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'edit' | trans }} {{ entity }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.sector) }}
        <div class="row">
            <div class="col-md-2">{{ form_row(form.submit) }}</div>
            <div class="col-md-2">
                <a class="btn btn-secondary" href="{{ path('management_list',{'entity':entity}) }}">{{ 'cancel' | trans }}</a>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}