{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ 'management.title' | trans }}</h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'management.companies' | trans }}</h5>
                            <a class="btn btn-primary" href="{{ path('management_list',{'entity':'company'}) }}">
                                {{ 'management.button' | trans }}
                            </a>
                        </div>
                    </div>
                </div>
                {% if (is_granted('ROLE_ADMIN')) %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'management.sectors' | trans }}</h5>
                            <a class="btn btn-primary" href="{{ path('management_list',{'entity':'sectors'}) }}">
                                {{ 'management.button' | trans }}
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}