{% extends 'base.html.twig' %}

{% block title %}{{ 'company.list' | trans }}{% endblock %}

{% block body %}
    <div class="container">
    {% set filter = (filter != null) ?filter.id : null %}
    <h1>{{ 'company.list' | trans }}
    </h1>

    <a href="{{ path('management_create',{'entity':entity}) }}" class="btn btn-success">
        {{ 'sector.add' | trans }}
    </a>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th class="d-none d-sm-block d-sm-none d-md-block">{{ 'id' | trans }}</th>
            <th>{{ 'company.name' | trans }}</th>
            <th colspan="2">{{ 'actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for sector in pagination %}
            <tr>
                <td class="d-none d-sm-block d-sm-none d-md-block">{{ sector.id }}</td>
                <td>{{ sector.name }}</td>
                <td>
                    <a class="btn btn-info"
                       href="{{ path('management_edit',{'entity': entity,'id' : sector.id}) }}">
                        {{ 'edit' | trans }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning"
                       href="{{ path('management_delete',{'entity': entity,'id': sector.id}) }}">
                        {{ 'delete' | trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr class="navigation">
            <td class="4"> {{ knp_pagination_render(pagination) }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}